<p id="notice"><%= notice %></p>

<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>
<%= link_to 'Back', projects_path %>
</br>
</br>

<strong>Create list:</strong>
<div class="stats">
<%= render 'lists/new' %>
</div>

<div class="col-md-8">
<% if @project.lists.any? %>
  <h2>Lists (<%= @project.lists.count %>)</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lists.each do |list| %>
        <% if list.id? %>
          <tr>
            <td><%= list.name %></td>
            <td><%= link_to 'show', project_list_path(@project, list) %></td>
            <td><%= link_to "delete", [@project, list],
            :method => :delete, :confirm => "Really?" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% end %>
</div>